.my-list {
  line-height: 2;
}

#all-skaters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  margin: 5% auto;
}

.skater-container {
  width: 380px;
  height: 380px;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  // border: 2px solid rgb(18, 7, 37);
}

.skater-image {
  max-width: 280px;
  max-height: 280px;
}

.go-back-link {
  margin: 1%;
}

.go-back-link a {
  text-decoration: none;
  font-weight: 800;
}

.skater-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1% 2%;
}

.single-skater-name {
  margin: 0 0 1% 0;
}

.skater-right {
  margin: auto 2%;
}

.program-list {
  line-height: 2;
}
