.my-list {
  line-height: 2;
}

.gallery-title {
  text-align: center;
  font-size: 45px;
}

#all-skaters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  margin: auto auto 5% auto;
}

.skater-container {
  width: 380px;
  height: 380px;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  // border: 2px solid rgb(18, 7, 37);
}

.skater-image {
  height: 200px;
  width: 300px;
}
