@import "./_about";
@import "./_gallery";
@import "./_skaterdetails";
@import "./_home";
@import "./_navbar";

* {
  box-sizing: border-box;
  // margin: 0;
  // padding: 0;

  // font-family: GT-Pressura-Pro-Mono-Regular;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

ul,
li {
  list-style-type: none;
}

a {
  outline: none;
  text-decoration: none;
  color: inherit;
}
